.badges {
    padding-bottom: 15px;
    &--head {
        clip-path: polygon(100% 0, 100% calc(100% - 20px), 50% 100%, 0 calc(100% - 20px), 0 0);
        background-color: $black;
        padding: 30px 0 50px;
    }

    &--blue {
        background-color: #6FCFCE33;
    }
}