.chart {
    padding: 50px 0 30px;

    .text {
        font-size: 18px;
    }

    .row {
        margin-bottom: 50px;

        .icon {
            width: 64px;
            height: auto;
            margin-top: auto;
        }

        & + .text {
            margin-bottom: 22px;
        }
    }
}