.comparissons {
    padding: 30px 0;
    background-color: #6FCFCE33;

    .wrapper {
        padding: 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        @include tablet {
            justify-content: unset;
        }

        .comp-item {
            width: 25%;
            display: flex;
            flex-flow: column nowrap;

            @include tablet {
                &:first-child {
                    width: 100%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 50%;
                    margin-top: 10px;
                }
            }


            img {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                margin-top: auto;
            }

            h2 {
                margin-top: auto;
            }
        }
    }
}