.footer {
    .sub-text {
        font-size: 18px;
        line-height: 22px;
        padding: 100px 0 22px;
    }


    .wrapper {
        display: flex;
        align-items: center;
        flex-flow: column;
        padding: 100px 0 0;
    }

    .logo {
        width: 150px;
        height: 25px;
        background-image: url('../icons/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
    }
}