.header {
    padding: 30px 0;

    .wrapper {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 120px;
        height: 15px;
        background-image: url('../icons/logo.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
    }
}