.hero {
    padding-bottom: 20px;

    .heading {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
    }

    .sub-text {
        margin: 5px 0;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .image {
        width: 100%;
        height: auto;
    }
}