.percent {
    padding: 35px 0;
    background-color: $pink;

    .wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        h2 {
            font-weight: 900;
            font-size: 72px;
            line-height: 88px;
            margin-left: auto;
        }

        p {
            margin-left: 15px;
            font-weight: 900;
            font-size: 26px;
            line-height: 31px;
            display: inline-block;
            margin-right: auto;
            width: 107px;
        }
    }
}