.pricing-blocks {
    background-color: #0000001A;
    padding: 30px 0;
    @include tablet {
        padding: 0;
    }

    .pricing-block {
        background-color: $white;

        @include tablet {
            margin: 0 -12px;
        }

        .pricing-block--inner {
            padding: 30px 25px;
            height: calc(100% - 60px);

            .months {
                font-weight: 900;
                font-size: 27px;
                line-height: 32px;
                text-align: center;
            }

            .price {
                font-style: italic;
                font-size: 28px;
                line-height: 34px;
                text-align: center;
                color: rgba(0, 0, 0, 0.3);
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 10px;
                align-items: baseline;

                .dollar-sign {
                    font-size: 28px;
                    line-height: 34px;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .amount {
                    font-size: 56px;
                    line-height: 67px;
                    text-align: center;
                }
            }

            .save {
                background: rgba(255, 46, 99, 0.3);
                border-radius: 16px;
                padding: 7px;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                color: #FF2F63;
            }

            .details {
                margin-top: 15px;

                span {
                    display: block;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.5);
                    text-align: center;
                }
            }

            .details--big {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                margin: 15px 0;
                color: rgba(0, 0, 0, 0.5);
                @include tablet {
                    margin-bottom: 0;
                }
            }

            .btn {
                margin-top: auto;

                @include tablet {
                    margin-top: 15px;
                }
            }
        }


        &--active {
            border: 8px solid $pink;
            border-top-width: 13px;

            @include tablet {
                margin: 0 -20px;
            }

            .active-head {
                background-color: $pink;
                width: 100%;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                padding-bottom: 13px;
                color: #FFFFFF;
            }

            .pricing-block--inner {
                height: calc(100% - 60px - 35px);
            }
        }

        &:not(.pricing-block--active) {
            margin-top: 48px;
            margin-bottom: 8px;
            @include tablet {
                margin-top: 8px;
            }
        }

    }
}