.quote {
    padding: 30px 0;

    .container {
        position: relative;
        padding: 45px 0 0 20px;

        .text {
            margin-bottom: 30px;
        }

        .signature {
            justify-content: space-between;

            p {

            }

            img {
                height: 45px;
            }
        }

        &:before, &:after {
            position: absolute;
            content: '';
            display: block;
        }

        &:before {
            width: 39px;
            height: 25px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:after {
            width: 1px;
            height: 80%;
            left: 0;
            bottom: 0;
        }
    }

    &--black {
        background-color: $black;

        .container {
            &:before {
                background-image: url("../icons/quotation-mark.svg");
            }

            &:after {
                background-color: #FFFFFFB3;
            }
        }
    }

    &--blue {
        background-color: #6FCFCE33;

        .container {
            &:before {
                background-image: url("../icons/quotation-mark-black.svg");
            }

            &:after {
                background-color: #1A1E27;
            }
        }
    }
}