.ribbon {
    padding: 5px 0;

    &--pink {
        background-color: $dark-pink;
    }

    &--padding {
        padding: 25px 0;
        background-color: $pink;

        &.ribbon--pink {
            background-color: $dark-pink;
        }
    }

    &--bright-pink {
        background-color: $pink;
    }
}