.text-block {
    padding: 30px 0;

    &.border-bottom {
        box-sizing: border-box;
        border-bottom: 1px dashed #0000004D;
    }

    &--blue {
        background-color: #6FCFCE33;

        &.border-bottom {
            border-bottom: 1px dashed #FFFFFF;
        }
    }

    &--black {
        background-color: $black;

        &.border-bottom {
            border-bottom: 1px dashed #FFFFFF;
        }
    }

    &--beige {
        background-color: #F264881A;

        &.border-bottom {
            border-bottom: 1px dashed #0000004D;
        }
    }

    &--grey {
        background-color: #9797971A;

        &.border-bottom {
            border-bottom: 1px dashed #0000004D;
        }
    }

    &--violet {
        background-color: #F264884D;
    }

    &--pink {
        background-color: $pink;
    }

    &--bright-blue {
        background-color: #08D9D6;
    }

    &--food {
        background-image: url('../images/food.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    .leaves {
        width: 83px;
        height: 83px;
        border-radius: 50% 50%;
    }

    .cellulose {
        width: 68px;
        margin-right: 20px;
    }

    .hand {
        display: flex;
        align-items: center;

        img {
            margin-left: auto;
            height: 100px;
        }
    }

    .fire {
        width: 62px;
        flex-shrink: 0;
    }

    .small-icon {
        max-width: 40px;
        max-height: 40px;
        margin: auto;
    }

    p {
        font-size: 18px;
    }

    .wrapper>* {
        margin-bottom: 22px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}