.btn {
    background: radial-gradient(182.64% 76.89% at 50% 50%, #FF2E6366 0%, #FF5F8866 100%);
    mix-blend-mode: normal;
    border-radius: 29.5px;
    padding: 5px;
    display: block;
    cursor: pointer;

    &--inner {
        display: block;
        padding: 20px 10px;
        background: #FF2E63;
        box-shadow: 0 4px 11px #FF2E63;
        border-radius: 23.9933px;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all 0.2s;
        user-select: none;
    }

    &--wide {
        .btn--inner {
            padding: 20px 35px;
        }
    }

    &:hover {
        .btn--inner {
            background: #f52d60;
        }
    }

    &:active, &:focus {
        .btn--inner {
            background: #eb2d61;
        }
    }

    &--blue {
        background: radial-gradient(182.64% 76.89% at 50% 50%, #08D9D6 0%, #94FFFD 100%);

        .btn--inner {
            background: #08D9D6;
            box-shadow: 0px 4px 11px rgba(26, 30, 39, 0.25);
        }

        &:hover {
            .btn--inner {
                background: #08cecb;
            }
        }

        &:active, &:focus {
            .btn--inner {
                background: #08c3c0;
            }
        }
    }
}