form {
    width: 100%;
    padding: 30px 0;

    .form-group {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        input[type=text] {
            border-bottom: 1px solid #878787;
            color: $black;
            transition: all 0.2s;
            padding: 5px 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            width: calc(100% - 20px);

            &::placeholder {
                color: #878787;
            }


            &:active,
            &:focus {
                border-color: $black;
                color: $black;
            }

            &.is-invalid {
                color: indianred;
                border-color: indianred;

                &::placeholder {
                    color: indianred;
                }

            }
        }

        label {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            width: 100%;
            color: $black;
        }

        input[type=submit] {
            cursor: pointer;
        }
    }
}