* {
    font-family: $lato;
    color: $black;
}

body {
    background-color: white;
    position: relative;
}

.wrapper {
    width: calc(100% - 40px);
    padding: 0 20px;
    max-width: $lg;
    margin: auto;

    &-medium {
        max-width: $md;
    }

    &-small {
        max-width: $sm;
    }
}

.row,
.column,
.desktop-row {
    display: flex;

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-sb {
        justify-content: space-between;
    }

    &.justify-se {
        justify-content: space-evenly;
    }
}

.row {
    flex-flow: row nowrap;
}

.column {
    flex-flow: column nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.desktop-row {
    flex-flow: row nowrap;

    @include tablet {
        flex-direction: column;
    }
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix {
    overflow: auto;
}

section {
    &.border-bottom {
        border-bottom: 1px dashed #FFFFFF;
        box-sizing: border-box;
    }
}


.mb {
    &-0 {
        margin-bottom: 0 !important;
    }

    &-1 {
        margin-bottom: 10px !important;
    }

    &-2 {
        margin-bottom: 20px !important;
    }

    &-3 {
        margin-bottom: 30px !important;
    }

    &-4 {
        margin-bottom: 40px !important;
    }

    &-5 {
        margin-bottom: 50px !important;
    }

    &-6 {
        margin-bottom: 60px !important;
    }
}

.mt-a {
    margin-top: auto;
}

.w-100 {
    width: 100%;
}

main,
header,
footer {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.vectors {
    justify-content: space-between;

    .icon {
        height: 110px;
        margin: 25px;

        @include tablet {
            margin: 10px;
        }

        &.colon {
            @include tablet {
                margin-right: 27px
            }
        }
    }
}

.fire-float {
    margin-top: -40px;

    @media (max-width: 410px) {
        margin-top: 0;
    }
}

.fist-float {
    margin-top: -40px;

    @media (max-width: 700px) {
        margin-top: 0;
    }
}

.food-image {
    height: 200px;

    @include tablet {
        height: 104px;
    }
}