h1,
h2,
h3,
h4,
p,
a,
.bullets li,
span {
    line-height: 1.2;

    &.pink {
        color: $dark-pink;
    }

    &.white {
        color: $white;
    }

    &.blue {
        color: $blue;
    }

    &.grey {
        color: #1A1E278C;
    }

    &.underline {
        text-decoration: underline;
    }

    &.bold {
        font-weight: bold;
    }

    &.block {
        display: block;
    }

    &.medium {
        font-weight: 500;
    }

    &.black {
        font-weight: 900;
    }

    &.italic {
        font-style: italic;
    }

    &.uppercase {
        text-transform: uppercase;
    }

    &.center {
        text-align: center;
    }

    &.subheading {
        font-size: 27px;
    }

    &.heading {
        font-size: 37px;
    }
}

.bullets {
    list-style: none;

    li {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        &:before {
            position: absolute;
            left: 0;
            content: '';
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &--pink {
        li {
            padding-left: 34px;

            &:before {
                width: 14px;
                height: 14px;
                top: 4px;
                background-image: url("../icons/bullet-pink.svg");
            }
        }
    }

    &--check {
        li {
            padding-left: 17px;

            &:before {
                width: 12px;
                height: 20px;
                top: 0;
                background-image: url("../icons/bullet-check.svg");
            }
        }
    }

    &--check-green {
        margin-top: 20px;

        li {
            padding-left: 51px;
            margin-bottom: 20px;

            &:before {
                width: 36px;
                height: 36px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url("../icons/bullet-check-green.svg");
            }
        }
    }

    &--x {
        margin-top: 20px;

        li {
            padding-left: 51px;
            margin-bottom: 20px;

            &:before {
                width: 36px;
                height: 36px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url("../icons/bullet-x.svg");
            }
        }
    }
}

.link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}